/*
font-family: 'Patrick Hand', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Merienda', cursive;
font-family: 'Special Elite', cursive;
*/

:root {
  --dark-color: #404040;
  font-family: 'Patrick Hand', cursive;
  color: black;
}

.container {
	width: 100%;
	position: relative;
}

.landscape {
	width: 1100;
	height: 850;
}


.column {
	float: left;
	width: 33%;
}

.column * {
	line-height: 1.2em;
}

.actiontable {
	width: 100%;
	border: dashed black 1px;
}

.actiontable thead tr td {
	font-weight: 600;	
}

.actiontable tr td {
	border-bottom: dotted grey 1px;
}

.heading {
	width: 100%;
	text-align: center;
}

.sectiontitle {
	text-align: center;
	font-weight: bold;
	font-size: large;
}






.portait {
	width: 850;
	height: 1100;
}

.eighth-card {
	position: relative;
	width: 33%;
	float: left;
	height: 33%;
	overflow: auto;
}

.vertical-small-card {
	position: relative;
	width: 40%;
	float: left;
	height: 15%;
	overflow: auto;
}

.quart-card {
	position: relative;
	width: 66%;
	float: left;
	height: 33%;
}

.scrollback {
	background-image: url("scroll.png");
	background-size: 98% 98%;
	background-repeat: no-repeat;
}

.scrollback-boundaries {
	border: solid black 0px;
	width: 87%;
	height: 87%;
	margin-left: 6%;
	margin-top: 6%;
	position: relative;
}

.quart-card .scrollback-boundaries {
	margin-top: 3%;
	width: 81%;
}

.paperback {
	background-image: url("paperB.png");
	background-size: 98% 98%;
	background-repeat: no-repeat;
}

.paperback-boundaries {
	border: solid black 0px;
	width: 95%;
	height: 92%;
	margin-left: 8px;
	margin-top: 4px;
	position: relative;
}


	
.aligned-row {
}
	
.card-title {
	width: 100%;
	float: left;
	text-align: center;
	font-variant: small-caps;
	font-size: xx-large;
	font-weight: bold;
	padding-left: 10px;
	display: inline;
	vertical-align: middle;
	line-height: 26px;
	overflow: visible;
	white-space: nowrap;
}

.card-caption {
	width: 20%;
	float: right;
	font-size: xx-large;
	font-weight: 600;
	vertical-align: middle;
	text-align: center;
	line-height: 26px;
	overflow: wrap;
}

.spell-short-description {
	float: left;
	width: 70%;
	font-size: small;
	font-weight: 650;
	padding-left: 10px;
	display: inline;
	vertical-align: middle;
}

.card-icon {
	float: right;
	padding-right: 10px;
	padding-top: 3px;
	height: 4em;
	width: 4em;
}

.card-description {
	float: left;
	width: 95%;
	height: 44%;
	font-size: small;
	font-weight: 600;
	padding-left: 5%;
	display: inline;
	vertical-align: middle;
	overflow: overflow;
}

.card-stats {
	width: 100%;
	height: 25%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.card-stat-block {
	float: left;
	width: 70%;
	font-size: medium;
	font-weight: 600;
	overflow: visible;
	white-space: nowrap;
}

.left {
	float: left;
}

.right {
	float: right;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.spell-time {
	float: left;
	width: 40%;
	text-align: left;
	overflow: visible;
	white-space: nowrap;
}

.spell-effect {
	float: middle;
	width: 40%;
	text-align: center;
	overflow: visible;
	white-space: nowrap;
}

.spell-components {
	float: right;
	width: 20%;
	text-align: right;
	overflow: visible;
	white-space: nowrap;
}
